body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Fuente moderna y legible */
    color: #242424; /* Un gris oscuro/blanco roto para el texto principal, ideal para fondos oscuros */
    line-height: 1.6; /* Espaciado entre líneas, mejora la lectura */
    background-color: #e9e9e9; /* El fondo oscuro que se ve en tus imágenes */
}

.us-container, .services-container{
    max-width: 1000px; /* Limita el ancho del texto para que no se extienda demasiado (mejora la lectura) */
    margin: 30px auto; /* Centra el contenido en la página y da espacio vertical */
    padding: 0 20px;
    border-left: 5px solid #145fae; /* Una línea azul a la izquierda como toque de diseño */
    background-color: #dfdfdf; /* Un fondo ligeramente más claro para destacarlo */
    box-shadow: 0 4px 8px rgba(165, 165, 165, 0.2); /* Sombra sutil para un efecto de elevación */
    color: #050505;
    border-radius: 5px;/* Pequeño padding a los lados para que no toque los bordes del navegador */
}

/* --- Estilo para la Descripción de la Empresa --- */

.us-description {
    display: block; 
    font-size: 18px; 
    font-weight: 300; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: justify; 
}

.services-container h2, .us-container h2 {
    color: #145fae; /* Un color de acento azul para los títulos de sección */
    font-size: 24px;
    border-bottom: 2px solid #555555; 
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.services-list h3 {
    color: #145fae; /* Un color de acento azul para los títulos de sección */
}

.services-list {
    list-style: none; /* Remueve los puntos predeterminados */
    padding: 0;
}

.services-list li {
    font-size: 17px;
    padding: 8px 0;
    border-bottom: 1px  #444444; /* Línea separadora sutil */
    
    /* Icono personalizado para los elementos de la lista */
    position: relative;
    padding-left: 25px; /* Deja espacio para el icono */
    color: #242424;
}

/* Pseudo-elemento para añadir un icono (ej. un círculo azul) */
.services-list li::before {
    content: "•"; /* O puedes usar un ícono unicode, ej. '✓' o '►' */
    color: #145fae; /* Color azul de acento */
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
    position: absolute;
    left: 0;
}